.content {
  display: flex;
  flex-wrap: wrap;
  height: 176.4742px;
  width: 600px;
}

.content_links {
  display: flex;
  flex-wrap: wrap;
  height: 176.4742px;
  width: 600px;
}

h1,
h2 {
  width: fit-content;
  font-family: "spartan";
}
h1 {
  color: #d9c4b2;
  font-weight: 500;
  font-size: 17.43px;
  margin-top: 1px;
}
h2 {
  color: #7e7f83;
  font-weight: 300;
  font-size: 19.92px;
}

li {
  list-style-type: none;
}

.content_links-link {
  flex-direction: column;
}

#logo_wr {
  height: 100.7561px;
  margin-left: 60px;
}

.link_line {
  display: flex;
  flex-wrap: wrap;
  width: 250px;
  height: 46.2648px;
}

#l1 {
  margin-left: 66px;
  margin-top: -15px;
}
#l2 {
  margin-left: 53px;
  margin-top: 4px;
}

#l3 {
  display: flex;
  flex-wrap: wrap;
  width: 350px;
  margin-top: 25px;
  margin-left: -37px;
}

.link_line-social {
  display: flex;
  flex-wrap: wrap;
}

.social_logo {
  width: 46.2228px;
  height: 46.2228px;
  margin-left: 15px;
}
